<hgroup>
  <h1><a href="{{ root_url }}/">{{ site.title }}</a></h1>
  {% if site.subtitle %}
    <h2>{{ site.subtitle }}</h2>
  {% endif %}
</hgroup>


<div class="social-icons">
  <a href="https://github.com/Basemm"><img src="{{ root_url }}/images/github-mark-light-32px.png" width="32" height="32" alt="Github"></a>
  <a href="https://twitter.com/_Basemm_"><img src="{{ root_url }}/images/twitter-32x32.png" width="32" height="32" alt="Twitter"></a>
  <a href="http://eg.linkedin.com/pub/basem-mostafa/12/479/182/"><img src="{{ root_url }}/images/linkedin_circle_color-32.png" width="32" height="32" alt="Linkdln"></a>
  <a href="{{ root_url }}/atom.xml"><img src="{{ root_url }}/images/rss-32x32.png" width="32" height="32" alt="RSS"></a>
</div>
